<!doctype html>
<html>
<body>
	<div>
		{% if user %}
		Hi, {{ user.name }}! <a href="/logout">logout</a>
		{% else %}
		Hi there! <a href="/login">login</a>
		{% endif %}
	</div>
	
	{% if user %}
	<div>
		Edit your graph: <a href="{{ url_for('edit', graph_id=user.graph_id) }}">{{ url_for('edit', graph_id=user.graph_id) }}</a>
	</div>
	{% endif %}

	<div>
		A few graphs that you can view:
		{% for id in graph_ids %}
			<div>
				<a href="{{ url_for('view', graph_id=id) }}">{{ url_for('view', graph_id=id) }}</a>
			</div>
		{% endfor %}
	</div>
</body>
</html>