{% extends 'base.html' %}
{% block head %}
  <title>view : influence game</title>
  <style>
    body {
      margin: 0;
    }
    
    .link {
      stroke: #aaa;
      stroke-width: 1.5px;
    }

    .link.w {
      stroke-width: 1.5px;
    }

    .link.m {
      stroke-width: 2px;
    }

    .link.s {
      stroke-width: 2.5px;
    }
    
    #arrow {
      fill: #888;
    }

    .node {
      stroke: steelblue;
      stroke-width: 1px;
      cursor: pointer;
      font-weight: bold;
    }
    
    #node-0 {
      fill: #f44;
      stroke: #800;
      font-size: 1.1em;
    }

    .tray {
      fill: #ccc;
      stroke: none;
    }

    .node.linked {
      fill: #000;
    }

    .node.unlinked {
      fill: #555;
    }
  
    .node.clicked {
      stroke: #57c;
      stroke-width: 3px;
    }

    .node.fixed {
      stroke: #00a;
    }
    
    .bin {
      stroke: rgb(0, 175, 0);
      stroke-width: 5;
      stroke-dasharray: 30, 10;
      fill: none;
    }
    
    .lbin {
      stroke: rgb(0, 175, 0);
      stroke-width: 5;
      stroke-dasharray: 30, 10;
      fill: none;
    }

    .locus {
      display: none;
    }
  </style>
{% endblock %}
{% block body %}
<script src="//d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<div>back to <a href="{{ url_for('index') }}">dash</a></div>
{% if not current_user.is_anonymous() and graph_id == current_user.graph_id %}
  <div>double click on a node to start editting</div>
{% endif %}

<script>
  var graph_id = '{{ graph_id }}', 
    graph = {{ graph|safe }},
    all_nodes = {{ all_nodes|safe }},
    width = 900, height = 900,
    node_r = 15;

  var layout = [1/3, 2/3, 1],
      loci = {ps: {x:1/6, y:1/6}, pm: {x:3/6, y:1/6}, pw: {x:5/6, y:1/6}, cs: {x:1/6, y:3/6}, cm: {x:3/6, y:3/6}, cw: {x:5/6, y:3/6}},
      bins = {},
      bin_m = 12, bin_r = 10,
      lbins = {p: {x: 0, y: 0, width: 1, height: layout[0]}, c: {x: 0, y: layout[0], width: 1, height: layout[1]-layout[0]}},
      lbin_m = 5;;
      
  for (var t in loci) {
    var x = loci[t].x, y = loci[t].y;
    bins[t] = {x: x-1/6, y: y-1/6, width: 1/3, height: 1/3};
  }

  // load data
  var nodes_dict = {};
  for (var i in all_nodes) {
    all_nodes[i].id = all_nodes[i]._id.$oid;
    nodes_dict[all_nodes[i].id] = all_nodes[i];
  }
    
  var nodes = [],
      links = [];

  var svg = d3.select("body").append("svg")
      .attr("width", '100%')
      .attr("height", height);

  width = svg.node().clientWidth;

  var force = d3.layout.force()
      .nodes(nodes)
      .links(links)
      .linkDistance(100)
      .charge(-150)
      .linkStrength(0.05)
      .gravity(0.05)
      .friction(0.8)
      .size([width, height*layout[1]])
      .on("tick", tick);

  // svg.append('rect').attr('class', 'tray').attr('width', width).attr('height', height*(layout[2]-layout[1])).attr('y', height*layout[1]);
  
  // define marker
  svg.append("defs").selectAll("marker")
      .data(["arrow"])
    .enter().append("svg:marker")
      .attr("id", String)
      .attr("viewBox", "0 0 20 10")
      .attr("refX", 70)
      .attr("refY", 5)
      .attr("markerWidth", 10)
      .attr("markerHeight", 5)
      .attr("orient", "auto")
      .append("path")
      .attr("d", "M 0 0 L 20 5 L 0 10 z");

  // draw large bins
  // svg.selectAll('.lbin').data(d3.map(lbins).entries()).enter()
  //   .append('rect').attr('class', 'lbin').attr('id', function(d) { return 'lbin-'+d.key; })
  //   .attr('x', function(d) { return d.value.x*width+lbin_m; })
  //   .attr('y', function(d) { return d.value.y*height+lbin_m; })
  //   .attr('width', function(d) { return d.value.width*width-2*lbin_m; })
  //   .attr('height', function(d) { return d.value.height*height-2*lbin_m; })
  //   .attr('rx', bin_r)
  //   .attr('ry', bin_r)
  //   .attr('opacity', 0);
    
  // draw bins
  // svg.selectAll('.bin').data(d3.map(bins).entries()).enter()
  //   .append('rect').attr('class', function(d) { return 'bin '+d.key[0]+'bin'; }).attr('id', function(d) { return 'bin-'+d.key; })
  //   .attr('x', function(d) { return d.value.x*width+bin_m; })
  //   .attr('y', function(d) { return d.value.y*height+bin_m; })
  //   .attr('width', function(d) { return d.value.width*width-2*bin_m; })
  //   .attr('height', function(d) { return d.value.height*height-2*bin_m; })
  //   .attr('rx', bin_r)
  //   .attr('ry', bin_r)
  //   .attr('opacity', 0);

  // draw loci to help debug
  // svg.selectAll('.locus').data(d3.map(loci).entries()).enter()
  //   .append('circle').attr('class', 'locus')
  //   .attr('cy', function(d) { return d.value.y*height; })
  //   .attr('cx', function(d) { return d.value.x*width; })
  //   .attr('r', 5).attr('fill', 'blue');

  var node = svg.selectAll(".node"),
      link = svg.selectAll(".link");

  /*
  var linked_drag = d3.behavior.drag().origin(Object)
    .on('dragend.mod', function(d) {
      var my = d3.mouse(svg[0][0])[1];
      console.log(my);
    });
  */
  
  // initialize the force layout
  var drag = force.drag()
      .on('dragstart', function(d) {
	d.fixed = true;
	d3.select(this).classed('fixed', true);
      });
  
  // put up the links
  for (var i in graph) {
    var l = graph[i], 
        new_link = {
	  source: nodes_dict[l.source.$oid], 
	  target: nodes_dict[l.target.$oid], 
	  type: l.attr.strength
	};
    nodes.push(new_link.source);
    nodes.push(new_link.target);
    links.push(new_link);
  }

  link = link.data(force.links(), function(d) { return d.source.id + "-" + d.target.id; });
  link.enter()
    .insert("line", ".node")
    .attr("class", function(d) {
      return ['link', d.type].join(' ');
    })
    .attr('marker-end', 'url(#arrow)');
  link.attr('class', function(d) {
      return ['link', d.type].join(' ');
    });
  link.exit().remove();

  node = node.data(force.nodes(), function(d) { return d.id; });
  append_node_to(node.enter())
    .on('dblclick', move_to_center)
    .call(drag);
  node.exit().remove();

  // start force layout, burn in
  force.start();
  var burn_in = 120;
  while (--burn_in > 0) {
    force.tick();
  }
  force.stop();
  // freeze the graph layout
  var fnodes = force.nodes();
  for (var i in fnodes) {
    fnodes[i].fixed = true;
  }

  // put unlinked nodes into the tray
  //update_tray();
  
  // disables scrolling on iOS
  document.body.addEventListener('touchmove', function(e){ e.preventDefault(); });
  document.body.addEventListener('touchstart', function(e){ e.preventDefault(); }); 
  
  function append_node_to(selector) {
    return selector.append("text").attr("class", 'node linked')
      .text(function(d) { return d.name; })
      .attr('text-anchor', 'middle')
      .attr("x", function(d) { return d.x; })
      .attr("y", function(d) { return d.y; });
  }

  function move_to_center(d) {
    var k = d3.select(this);
    //d3.select(this).classed('clicked', !k.classed('clicked'));
    document.location.pathname = '/edit/' + graph_id + '/' + d._id.$oid;
  }
  
  function update_tray() {
    free_node = free_node.data(all_nodes.filter(function(n, i, a) { return nodes.indexOf(n) < 0; }), function(d) { return d.id; });
    // free_node.enter().append('circle').attr("class", 'node unlinked')
    //   .attr('cx', function(d) { if (d.x==null) d.x = random_range(0, width); return d.x; }).attr('cy', function(d) { if (d.y==null) d.y = random_range(height*layout[1], height*layout[2]); return d.y; }).attr("r", 12)
    append_node_to(free_node.enter())
      .attr('class', 'node unlinked')
      .attr('x', function(d) { if (d.x==null) d.x = random_range(0, width); return d.x; }).attr('y', function(d) { if (d.y==null) d.y = random_range(height*layout[1], height*layout[2]); return d.y; })
      .on('dblclick', move_to_center)
      .call(free_drag);
    free_node.exit().remove();
  }

  function tick(e) {    
    node.attr("x", function(d) { return d.x; })
        .attr("y", function(d) { return d.y; })

    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
  }

  function random_range(start, end) {
    return Math.random() * (end - start) + start;
  }
  
  function nearest_locus(x, y) {
    var nearest_d = width*width+height*height, nearest_t = null;
    for (var t in loci) {
      var dis = (x-loci[t].x*width)*(x-loci[t].x*width)+(y-loci[t].y*height)*(y-loci[t].y*height);
      if (dis < nearest_d) {
        nearest_d = dis;
        nearest_t = t;
      }
    }
    return nearest_t;
  }
  
  function update_bins(mx, my) {
    if (my < height*layout[1]) {
      var pbin = svg.select('#lbin-p'), cbin = svg.select('#lbin-c');
      if (my < height*layout[0]) {
        svg.selectAll('.pbin').attr('opacity', 0.5);
        svg.selectAll('.cbin').attr('opacity', 0);
        pbin.attr('opacity', 0.4);
        cbin.attr('opacity', 0.1);
      } else {
        svg.selectAll('.cbin').attr('opacity', 0.5);
        svg.selectAll('.pbin').attr('opacity', 0);
        pbin.attr('opacity', 0.1);
        cbin.attr('opacity', 0.4);
      }
      var bin = svg.select('#bin-'+nearest_locus(mx, my))
      bin.attr('opacity', 0.8);
    } else {
      // show lbins
      svg.selectAll('.lbin').attr('opacity', 0.3);
      // hide bins
      svg.selectAll('.bin').attr('opacity', 0);
    }
  }
</script>
{% endblock %}
